In [13]:
import pandas as pd

In [14]:
df = pd.read_excel("https://raw.githubusercontent.com/irvin-s/crime_occur_vis/main/src/dataset.xls")

In [15]:
df.shape

(50685, 58)

In [11]:
print(df.columns)

Index(['ano_bo', 'num_bo', 'numero_boletim', 'bo_iniciado', 'bo_emitido',
       'dataocorrencia', 'horaocorrencia', 'mes', 'peridoocorrencia',
       'datacomunicacao', 'dataelaboracao', 'bo_autoria', 'flagrante',
       'numero_boletim_principal', 'logradouro', 'numero', 'bairro', 'cidade',
       'uf', 'latitude', 'longitude', 'descricaolocal', 'exame', 'solucao',
       'delegacia_nome', 'delegacia_circunscricao', 'especie', 'rubrica',
       'desdobramento', 'status', 'nomepessoa', 'tipopessoa', 'vitimafatal',
       'rg', 'rg_uf', 'naturalidade', 'nacionalidade', 'sexo',
       'datanascimento', 'idade', 'estadocivil', 'profissao', 'grauinstrucao',
       'corcutis', 'naturezavinculada', 'tipovinculo', 'relacionamento',
       'parentesco', 'placa_veiculo', 'uf_veiculo', 'cidade_veiculo',
       'descr_cor_veiculo', 'descr_marca_veiculo', 'ano_fabricacao',
       'ano_modelo', 'descr_tipo_veiculo', 'quant_celular', 'marca_celular'],
      dtype='object')

In [16]:
df.head()

,ano_bo,num_bo,numero_boletim,bo_iniciado,bo_emitido,dataocorrencia,horaocorrencia,mes,peridoocorrencia,datacomunicacao,...,placa_veiculo,uf_veiculo,cidade_veiculo,descr_cor_veiculo,descr_marca_veiculo,ano_fabricacao,ano_modelo,descr_tipo_veiculo,quant_celular,marca_celular
0,2020,877138,877138/2020,2020-06-30 21:04:33,2020-07-01 00:04:08,2020-06-26 00:00:00,19:30:00,Julho,A NOITE,2020-06-30,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,APPLE
1,2020,877697,877697/2020,2020-06-30 22:39:41,2020-07-01 00:08:22,2020-06-30 00:00:00,18:35:00,Julho,A NOITE,2020-06-30,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,ASUS
2,2020,877265,877265/2020,2020-06-30 21:27:20,2020-07-01 00:13:20,2020-06-30 00:00:00,05:30:00,Julho,DE MADRUGADA,2020-06-30,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,MOTOROLA
3,2020,3526,3526/2020,2020-06-30 22:40:54,2020-07-01 00:22:44,2020-06-30 00:00:00,20:50:00,Julho,A NOITE,2020-06-30,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,LG
4,2020,3526,3526/2020,2020-06-30 22:40:54,2020-07-01 00:22:44,2020-06-30 00:00:00,20:50:00,Julho,A NOITE,2020-06-30,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Motorola