In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [39]:
df = pd.read_excel("https://raw.githubusercontent.com/irvin-s/crime_occur_vis/main/src/dataset.xls")

In [40]:
df.shape

(50685, 57)

In [41]:
print(df.columns)

Index(['ANO_BO', 'NUM_BO', 'NUMERO_BOLETIM', 'BO_INICIADO', 'BO_EMITIDO',
       'DATAOCORRENCIA', 'HORAOCORRENCIA', 'PERIDOOCORRENCIA',
       'DATACOMUNICACAO', 'DATAELABORACAO', 'BO_AUTORIA', 'FLAGRANTE',
       'NUMERO_BOLETIM_PRINCIPAL', 'LOGRADOURO', 'NUMERO', 'BAIRRO', 'CIDADE',
       'UF', 'LATITUDE', 'LONGITUDE', 'DESCRICAOLOCAL', 'EXAME', 'SOLUCAO',
       'DELEGACIA_NOME', 'DELEGACIA_CIRCUNSCRICAO', 'ESPECIE', 'RUBRICA',
       'DESDOBRAMENTO', 'STATUS', 'NOMEPESSOA', 'TIPOPESSOA', 'VITIMAFATAL',
       'RG', 'RG_UF', 'NATURALIDADE', 'NACIONALIDADE', 'SEXO',
       'DATANASCIMENTO', 'IDADE', 'ESTADOCIVIL', 'PROFISSAO', 'GRAUINSTRUCAO',
       'CORCUTIS', 'NATUREZAVINCULADA', 'TIPOVINCULO', 'RELACIONAMENTO',
       'PARENTESCO', 'PLACA_VEICULO', 'UF_VEICULO', 'CIDADE_VEICULO',
       'DESCR_COR_VEICULO', 'DESCR_MARCA_VEICULO', 'ANO_FABRICACAO',
       'ANO_MODELO', 'DESCR_TIPO_VEICULO', 'QUANT_CELULAR', 'MARCA_CELULAR'],
      dtype='object')

In [42]:
df.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2020,877138,877138/2020,2020-06-30 21:04:33,2020-07-01 00:04:08,2020-06-26 00:00:00,19:30:00,A NOITE,2020-06-30,2020-06-30 21:04:33,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,APPLE
1,2020,877697,877697/2020,2020-06-30 22:39:41,2020-07-01 00:08:22,2020-06-30 00:00:00,18:35:00,A NOITE,2020-06-30,2020-06-30 22:39:41,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,ASUS
2,2020,877265,877265/2020,2020-06-30 21:27:20,2020-07-01 00:13:20,2020-06-30 00:00:00,05:30:00,DE MADRUGADA,2020-06-30,2020-06-30 21:27:20,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,MOTOROLA
3,2020,3526,3526/2020,2020-06-30 22:40:54,2020-07-01 00:22:44,2020-06-30 00:00:00,20:50:00,A NOITE,2020-06-30,2020-06-30 22:40:54,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,LG
4,2020,3526,3526/2020,2020-06-30 22:40:54,2020-07-01 00:22:44,2020-06-30 00:00:00,20:50:00,A NOITE,2020-06-30,2020-06-30 22:40:54,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Motorola